.archivemenu{
    position: fixed;
    height: 100vh;
    width: 12%;
    margin-left: 12%;
    margin-top: 5.2vh;
    top: 0;
    background-color: #222E3E;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.7;
    transition: margin 0.2s;
}

.archivemenu li{
    font: normal normal normal 13px/18px Avenir Next Cyr;
    color: white;
    padding: 10px;
    overflow: hidden;
}