
   .togglemenu{
    position: fixed;
    height: 100vh;
    width: 12%;
    transform: translateX(-115%);
    margin-top: 5.2vh;
    top: 0;
    background-color: #222E3E;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.7;
    transition: transform 0.2s;

     
    
  }

  .togglemenu li:hover{
    background-color: #161E29;
    border-radius: 11px 0px 0px 11px;
    
  }

  .hideNav li:hover{
    background-color: #161E29;
    border-radius: 11px 0px 0px 11px;
    
  }

  .hideNav{
    position: fixed;
    height: 100vh;
    width: 12%;
    transform: translateX(-115%);
    margin-top: 5.2vh;
    top: 0;
    background-color: #222E3E;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.7;
    transition: transform 0.2s;
     
  } 

 
.cal{
  float: right;
  margin-top: -8px;
}

.logo{
  float: right;
}


.togglemenu li{
  font: normal normal normal 13px/18px Avenir Next Cyr;
  color: white;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  

}

.togglemenu li:focus{
  background-color: #161E29;
  border-radius: 11px 0px 0px 11px;
  
}



 .hideNav li{
   font: normal normal normal 13px/18px Avenir Next Cyr;
   color: white;
   padding: 10px;
   overflow: hidden;
   cursor: pointer;
 
 }

 
 
.filter{
  color: #4E6786;
  font: normal normal normal 13px/18px Avenir Next Cyr;
  padding: 5px;
  margin: 5px;
  margin-bottom: 6px;

}


 .prev{
   margin-bottom: -5px;
   margin-right: 5px;
   
 }

 .prevactive{

 }

 .active{
  background-color: #161E29;
  border-radius: 11px 0px 0px 11px;

 }

 .next{
  margin-bottom: -5px;
  margin-right: 5px;

 }

 
@media screen and (max-height: 700px){
  .hideNav li{
    font-size: 0px;
  }

  .togglemenu li{
    font-size: 0px;

  }
  .filter{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .hideNav li{
    font-size: 0px;
  }

  .togglemenu li{
    font-size: 0px;

  }
  .filter{
    display: none;
  }
}

