
@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');


body{
    font: normal normal normal 18px/20px 'Avenir Next Cyr';
}

.fa-square{
    background-color: #A6D100;
    color: #A6D100;
    font-size: 8px;
    margin: 4px;
    
}

button{
    display: inline-block;
    margin: 0.5px;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    color: white;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
    background-color:rgba(192,192,192,0.3);
    border: none;
    font: normal normal normal 12px/12px Avenir Next Cyr;
}

.rbc-btn-group {
      
}

.rbc-toolbar-label{
   
    color: #E2E3E5;
    margin: 10px;
    
   
    
    
    
}

.ct{
    color: white;
    margin: 2px;
    
}

.rbc-btn-button{
    


}

.main{
    display: flex;
    margin: 10px;
    margin-top: 55px;

    
    
}

.mon{
    border-radius: 9px 0px 0px 9px;
    width: 10%;
    margin-left: auto;
    padding: 5px;
    
    
}

.weekbtn{
    border-radius: 0px 9px 9px 0px;
    width: 10%;
    padding-right: 45px;
    padding: 5px;
    
}

.weekend:not(.ssrbc-off-range){
    color: #F13B3B;
    padding: 5px;
}

.label:not(.rbc-off-range){
    /* color: white; */
    padding: 5px;
    
}

.eventList:hover  ~.special-day{
    padding-left: 200px;
} 



.special-day{
    /* transition: padding 1s; */
    transition: transform 1s;
    flex-shrink: 0;
       
}

.special-day:hover {
    opacity: 1.5;
    background-color: #F13B3B;
    z-index: 5;
    transform: scaleX(1.5);
     
    
}

.list{
    /* color: white; */
    padding: 5px;
    
}

.taskCount{
    font-size: 15px; 
    display: inline;
    float: right;
    color: #FD942A;
}

.eventList{
    background-color: #182434;
    font: normal normal normal 13px/20px Avenir Next Cyr;
    margin: 0;
    
}

.eventList:hover{
background-color: #F13B3B;

}

.arrow{
    border-radius: 9px;
    height: 40px;
}



.rbc-day-bg{
    border: solid 1px #222E3E;
    border-radius: 10px;
    background-color: #161E29;
    opacity: 0.7;
    
}
.c1.c2.rbc-calendar{
    margin-left: 18%;
    transition: margin 0.2s;
  
    
}

.visited{
    border-radius: 0px 9px 9px 0px;
    width: 10%;
    padding-right: 45px;
    padding: 5px;
    background-color: #1A2431;
    color: #4E6786;
    
}

.monthvisited{
    border-radius: 9px 0px 0px 9px;
    width: 10%;
    margin-left: auto;
    padding: 5px;
    background-color: #1A2431;
    color: #4E6786;
    

}


.dotmonth{
    float: right;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #222E3E;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    
  }


@media screen and (max-height: 700px){
    .taskCount{
      display: none;
    }
    .eventList{
        display: none;
    }
    .list{
        padding: 0;
    }
    button{
        font: normal normal normal 8px/15px Avenir Next Cyr;
        padding: 0;
        overflow-x: hidden;
    }
  }
 

  @media screen and (max-width: 700px){
    .taskCount{
      display: none;
    }
    .eventList{
        display: none;
    }
    .list{
        padding: 0;
        font-size: 12px;
    }
    button{
        font-size: 10px;
        padding: 0px;
        overflow-x: hidden;
    }
    .label{
        padding: 0px;
        font-size: 12px;
        
    }
    .weekend{
        font-size: 12px;
    }
  }
 