@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');
.sidenav {
    display: flex;
    flex-direction: column;
    height: 94.8vh;
    width: 12%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #222E3E;
    overflow-x: hidden;
    text-overflow: ellipsis; 
    
    
    
    
    
  }
  
  .sidenav li {
    font: normal normal normal 13px/45px Avenir Next Cyr;
    display: block;
    color: #E5E5E5;
    text-decoration: none;
    text-align: left;
    width: 100%;
    align-items: center;
    padding-left: 10px;
  }

  .sidenav a{
    display: block;
    color: #E5E5E5;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }

li div{
  display: inline;
  
}  

img{
 margin-bottom: -10px;
}


ul{
  padding-left: 5px;
}



.sidenav li:hover {
 background-color: #1D2836;
 border-radius: 11px 0px 0px 11px;
   
}

.sidenavHide li:hover {
  background-color: #1D2836;
  border-radius: 11px 0px 0px 11px;
    
 }

.sidenavHide{
    height: 94.8vh;
    width: 5%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #222E3E;
    overflow-x: hidden;
    transition: width 0.2s;
}

.sidenavHide a{
  display: block;
  text-decoration: none;
  color: #222E3E;
  padding-left: 10px;
  padding: 10px;
  
  
}
.text{
  color: red;
}

.tab{
  background-color: #1D2836;
  border-radius: 11px 0px 0px 11px;
}

.profile{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  padding-bottom: 0;
 
  
}

.username{
  font: normal normal normal 15px/45px Avenir Next Cyr;
  display: block;
  color: #E5E5E5;
  padding: 15px;
  
  

}

@media only screen and (max-width: 700px) {
  .text{
    display: none;
  }
  .sidenav li{
    font-size: 0px;
    
  }

  .sidenavHide{
    font-size: 0px;
  }
}



@media only screen and (max-height: 500px) {
  .text{
    display: none;
  }
  .sidenav li{
    font-size: 0px;
    
  }
  .sidenavHide{
    font-size: 0px;
  }
}