@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');
.topnav {
   position: relative;
    position: fixed;
    overflow: hidden;
    background-color: #222E3E;
    top: 0;
    height: 5vh;
    width: 100vw;
    z-index: 5;
    transition: margin-left 0.5s;
    }
  
 .barsbutton{
   position: absolute;
    margin: 0.5%;
    margin-left: 12%;
    color: #E5E5E5;
    font-size: 15px;
    border: solid #161E29;
    border-radius: 5px;
    width: 25px;
    padding-left: 10px;
    background-color: #161E29;
    opacity: 0.3;
    
  }
