@charset "UTF-8";
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0; }

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled].rbc-btn {
  cursor: not-allowed; }

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.rbc-calendar {
  /* margin-left: 195px; */
  margin-left: 25%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: margin 0.2s; }

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit; }

.rbc-abs-full, .rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  
  
 }

.rbc-event-content{
 
  
  
  
}



.rbc-rtl {
  direction: rtl; }

.rbc-off-range {
  color: #4E6786 !important; }

.rbc-off-range-bg {
  /* background: #e6e6e6; */ }

.rbc-header {
  color: #9BACCF;
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  /* font-weight: bold; */
  font-size: 10px;
  text-transform: uppercase;
  min-height: 0;
  /* border-bottom: 1px solid #DDD; */ }
  .rbc-header + .rbc-header {
    /* border-left: 1px solid #DDD;  */}
  .rbc-rtl .rbc-header + .rbc-header {
    border-left-width: 0;
    /* border-right: 1px solid #DDD; */ }
  .rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4; }

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .rbc-row-content-scrollable .rbc-row-content-scroll-container {
    height: 100%;
    overflow-y: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .rbc-row-content-scrollable .rbc-row-content-scroll-container::-webkit-scrollbar {
      display: none; }

.rbc-today {
  /* background-color: #eaf6ff; */
 }

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px; }
  .rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center; }
  .rbc-toolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid #ccc;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap; }
    .rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      background-color: #e6e6e6;
      border-color: black; }
      .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
        color: #373a3c;
        background-color: #d4d4d4;
        border-color: #8c8c8c; }
    .rbc-toolbar button:focus {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad; }
    .rbc-toolbar button:hover {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad; }

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap; }
  .rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .rbc-btn-group button + button {
    margin-left: -1px; }
  .rbc-rtl .rbc-btn-group button + button {
    margin-left: 0;
    margin-right: -1px; }
  .rbc-btn-group + .rbc-btn-group,
  .rbc-btn-group + button {
    margin-left: 10px; }

.rbc-event {
  
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  
  /* background-color: #3174ad; */
  /* border-radius: 5px; */
  /* color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #182434;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 60px;
  padding-bottom: 100px;
  padding-top: 15px;
  box-shadow: 0px 3px 10px #0000001A;
  opacity: 1; */
}
  .rbc-slot-selecting .rbc-event {
    cursor: inherit;
    pointer-events: none; }
  .rbc-event.rbc-selected {
    background-color: #265985; }
  .rbc-event:focus {
    outline: 5px auto #3b99fc; }

.rbc-event-label {
  font-size: 80%;
display: none; }

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5); }

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; 
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-row {
  display: flex;
  flex-direction: row; }

.rbc-row-segment {
  /*padding: 0 1px 1px 1px;*/
  padding: 0 8px 0px 8px; }

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1); }

.rbc-show-more {
  /* background-color: rgba(255, 255, 255, 0.3); */
  z-index: 4;
  font-weight: bold;
  font-size: 60%;
  height: auto;
  line-height: normal;
  text-align: center;
  color: #FD942A;
  text-decoration: none;
}

.rbc-month-view {
  position: relative;
  
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%; }

.rbc-month-header {
  display: flex;
  flex-direction: row; }

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%; }
  .rbc-month-row + .rbc-month-row {
    /* border-top: 1px solid #DDD;  */}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: left;
  margin: 15px;
  margin-bottom: 1px;
  color: white; }
  .rbc-date-cell.rbc-now {
    font-weight: bold;
      }
  .rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden; }

.rbc-day-bg {
  flex: 1 0 0%;
  margin: 5px;
  
}
  .rbc-day-bg + .rbc-day-bg {
    /*border-left: 1px solid #DDD;*/
   }
  .rbc-rtl .rbc-day-bg + .rbc-day-bg {
    border-left-width: 0;
    /* border-right: 1px solid #DDD; */ }

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px; }
  .rbc-overlay > * + * {
    margin-top: 1px; }

.rbc-overlay-header {
  /* border-bottom: 1px solid #e5e5e5; */
  margin: -10px -10px 5px -10px;
  padding: 2px 10px; }

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto; }
  .rbc-agenda-view table.rbc-agenda-table {
    width: 100%;
    border: 1px solid #DDD;
    border-spacing: 0;
    border-collapse: collapse; }
    .rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
      padding: 5px 10px;
      vertical-align: top; }
    .rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
      padding-left: 15px;
      padding-right: 15px;
      text-transform: lowercase; }
    .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
      border-left: 1px solid #DDD; }
    .rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
      border-left-width: 0;
      /* border-right: 1px solid #DDD;  */}
    .rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
      /* border-top: 1px solid #DDD; */ }
    .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
      padding: 3px 5px;
      text-align: left;
      border-bottom: 1px solid black; }
      .rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
        text-align: right; }

.rbc-agenda-time-cell {
  text-transform: lowercase; }
  .rbc-agenda-time-cell .rbc-continues-after:after {
    content: ' »'; }
  .rbc-agenda-time-cell .rbc-continues-prior:before {
    content: '« '; }

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap; }

.rbc-agenda-event-cell {
  width: 100%; }

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border: solid 1px #222E3E;
  margin: 5px;
  border-radius: 10px;
}
  .rbc-time-column .rbc-timeslot-group {
    flex: 1; }

.rbc-timeslot-group {
  /* border-bottom: 1px solid #DDD; */
  min-height: 50px;
  display: flex;
  flex-flow: column nowrap; }

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none; }

.rbc-label {
  padding: 0 5px;
  display: none; }

.rbc-day-slot {
  position: relative; }
  .rbc-day-slot .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0; }
    .rbc-day-slot .rbc-events-container.rbc-rtl {
      left: 10px;
      right: 0; }
  .rbc-day-slot .rbc-event {
    /* border: 1px solid #265985; */
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    margin: 5px;
 }
  .rbc-day-slot .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto; }
  .rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em; }
  .rbc-day-slot .rbc-time-slot {
    /* border-top: 1px solid #f7f7f7; */ }

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  /* border-right: 1px solid #DDD; */
  z-index: 10;
  margin-right: -1px; }

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden; }

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px; }

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none; }

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px; }

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px; }

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px; }

.rbc-time-slot {
  flex: 1 0 0; }
  .rbc-time-slot.rbc-now {
    font-weight: bold; }

.rbc-day-header {
  text-align: center; }

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px; }

.rbc-slot-selecting {
  cursor: move; }

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* border: 1px solid #DDD; */
  min-height: 0; }
  .rbc-time-view .rbc-time-gutter {
    white-space: nowrap; }
  .rbc-time-view .rbc-allday-cell {
    box-sizing: content-box;
    width: 100%;
    /* height: 100%; */
    height: 200vh;
    position: relative; }
  .rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
    /* border-left: 1px solid #DDD; */
    height: 100vh;
    border: solid red;
    
  }
  .rbc-time-view .rbc-allday-events {
    position: relative;
    z-index: 4; }
  .rbc-time-view .rbc-row {
    box-sizing: border-box;
    
    /* min-height: 20px; */ }

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row; }
  .rbc-time-header.rbc-overflowing {
    /* border-right: 1px solid #DDD; */ }
  .rbc-rtl .rbc-time-header.rbc-overflowing {
    border-right-width: 0;
    border-left: 1px solid #DDD; }
  .rbc-time-header > .rbc-row:first-child {
    border-bottom: 1px solid #DDD; }
  .rbc-time-header > .rbc-row.rbc-row-resource {
    /* border-bottom: 1px solid #DDD; */ }

.rbc-time-header-cell-single-day {
  display: none; }

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  /* border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-time-header-content {
    border-left-width: 0;
    /* border-right: 1px solid #DDD; */ }
  .rbc-time-header-content > .rbc-row.rbc-row-resource {
    /* border-bottom: 1px solid #DDD; */
    flex-shrink: 0; }

.rbc-time-content {
  display: flex; 
  /* display: none; */ 
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  /* border-top: 2px solid #DDD; */
  overflow-y: auto;
  position: relative; }
  .rbc-time-content > .rbc-time-gutter {
    flex: none; }
  .rbc-time-content > * + * > * {
    /* border-left: 1px solid #DDD; */ }
  .rbc-rtl .rbc-time-content > * + * > * {
    border-left-width: 0;
    /* border-right: 1px solid #DDD; */ }
  .rbc-time-content > .rbc-day-slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none; }

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  /* background-color: #74ad31; */
  pointer-events: none; }

.profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -18px;
    right: 0;
    margin-right: 10px;
    
}

.rbc-header:nth-child(6){
  color: #F13B3B;

}

.rbc-header:nth-child(7){
  color:#F13B3B;

}

.weekevent{
  position:relative;
  color: white;
  background-color:#182434;
  height: 30%;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #0000001A;
  opacity: 1;
  margin-top: 25px;
  
  
}

.wct{
  
  margin: 10px;
  font-size: small;
  padding: 10px;
  font-size: 12px;
  color: #9BACCF;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.name{
  margin-top: 12px;
  color: #FFFFFF;
  font-size: 15px;
  border-bottom: 1px solid #4E6786;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventDay:not(.rbc-header){
  border: none;
  border: solid 1px #FDD32A4D;
  background-color: #FD942A0F; 
  max-height: unset;

}

button.month{
    border-radius: 9px 0px 0px 9px;
    width: 5%;
    
}

button.week{
    border-radius: 0px 9px 9px 0px;
    width: 5%;
      
    
}

.datelabel{
 display: inline;
 font-size: 17px;
 margin-left: 5px;
 
}

.time{
  color: #4E6786;
}



.dot{
  float: right;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: #222E3E;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  
}