body{
    /*background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );;*/
    background-image: url(./Background\ Pattern.svg);
    background-color: #161E29;
    margin: 0;
    padding: 0;
    
  }